<button mat-raised-button color="primary" style="float: right; margin: 2rem" (click)="openBottomSheetAdd()">Add todo</button>

<div class="div-flex">
  <mat-card>
      <mat-card-title>Tasks todo</mat-card-title>
      <mat-list>
        <mat-list-item *ngFor="let task of tasksTodo; let i = index">
          <button mat-icon-button>
            <mat-icon mat-list-icon color="accent" (click)="openBottomSheetEdit(task)">edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon mat-list-icon color="primary" (click)="markDone(i, task)">done_outline</mat-icon>
          </button>
          <h4 mat-line>{{task.task | uppercase}}</h4>
          <p mat-line> {{task.dueDate | date}} </p>
        </mat-list-item>
      </mat-list>
  </mat-card>
  <mat-card>
    <mat-card-title>Tasks done</mat-card-title>
    <mat-list>
        <mat-list-item *ngFor="let task of tasksDone; let i = index">
          <button mat-icon-button>
            <mat-icon mat-list-icon (click)="undo(i, task)">undo</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon mat-list-icon color="warn" (click)="delete(i)">delete_forever</mat-icon>
          </button>
          <h4 mat-line>{{task.task | uppercase}}</h4>
          <p mat-line> {{task.dueDate | date}} </p>
        </mat-list-item>
      </mat-list>
  </mat-card>
</div>
